@import "tailwindcss";


.drop-container::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 32px;
    background-color: rgba(103,84,48,0.3);
    background: linear-gradient(135deg, rgba(192,160,98,0.7), rgba(168,136,76,0.7));
    z-index: -777;
}
